
        .font1 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #8A838D ;
        opacity: 1 ;
        }
        .font1 a {
        text-decoration: none;
        color: #8A838D;
        }
        .font1 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font1 a:visited {
        color: #900060;
        }
      
        .font2 {
        font-size: 9.5px;
        font-family: "TimesSansSerif";
        color: #000000 ;
        opacity: 1 ;
        }
        .font2 a {
        text-decoration: none;
        color: #000000;
        }
        .font2 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font2 a:visited {
        color: #900060;
        }
      
        .font3 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #8A838D ;
        opacity: 1 ;
        }
        .font3 a {
        text-decoration: none;
        color: #8A838D;
        }
        .font3 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font3 a:visited {
        color: #900060;
        }
      
        .font4 {
        font-size: 14px;
        font-family: "Futura";
        color: #8A838D ;
        opacity: 1 ;
        }
        .font4 a {
        text-decoration: none;
        color: #8A838D;
        }
        .font4 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font4 a:visited {
        color: #900060;
        }
      
        .font5 {
        font-size: 11px;
        font-family: "Futura";
        color: #878786 ;
        opacity: 1 ;
        }
        .font5 a {
        text-decoration: none;
        color: #878786;
        }
        .font5 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font5 a:visited {
        color: #900060;
        }
      
        .font6 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #8A838D ;
        opacity: 1 ;
        }
        .font6 a {
        text-decoration: none;
        color: #8A838D;
        }
        .font6 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font6 a:visited {
        color: #900060;
        }
      
        .font7 {
        font-size: 10px;
        font-family: "Futura";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font7 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font7 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font7 a:visited {
        color: #900060;
        }
      
        .font8 {
        font-size: 10px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font8 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font8 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font8 a:visited {
        color: #900060;
        }
      
        .font9 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font9 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font9 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font9 a:visited {
        color: #900060;
        }
      
        .font10 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #CDA0A4 ;
        opacity: 1 ;
        }
        .font10 a {
        text-decoration: none;
        color: #CDA0A4;
        }
        .font10 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font10 a:visited {
        color: #900060;
        }
      
        .font11 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #CDA0A4 ;
        opacity: 1 ;
        }
        .font11 a {
        text-decoration: none;
        color: #CDA0A4;
        }
        .font11 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font11 a:visited {
        color: #900060;
        }
      
        .font12 {
        font-size: 10px;
        font-family: "AbadiMT";
        color: #000000 ;
        opacity: 1 ;
        }
        .font12 a {
        text-decoration: none;
        color: #000000;
        }
        .font12 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font12 a:visited {
        color: #900060;
        }
      
        .font13 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #CDA0A4 ;
        opacity: 1 ;
        }
        .font13 a {
        text-decoration: none;
        color: #CDA0A4;
        }
        .font13 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font13 a:visited {
        color: #900060;
        }
      
        .font14 {
        font-size: 20px;
        font-family: "TimesSansSerif";
        color: #000000 ;
        opacity: 1 ;
        }
        .font14 a {
        text-decoration: none;
        color: #000000;
        }
        .font14 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font14 a:visited {
        color: #900060;
        }
      
        .font15 {
        font-size: 7px;
        font-family: "AbadiMT";
        color: #000000 ;
        opacity: 1 ;
        }
        .font15 a {
        text-decoration: none;
        color: #000000;
        }
        .font15 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font15 a:visited {
        color: #900060;
        }
      
        .font16 {
        font-size: 10px;
        font-family: "AbadiMT";
        color: #CDA0A4 ;
        opacity: 1 ;
        }
        .font16 a {
        text-decoration: none;
        color: #CDA0A4;
        }
        .font16 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font16 a:visited {
        color: #900060;
        }
      
        .font17 {
        font-size: 8px;
        font-family: "AbadiMT";
        color: #000000 ;
        opacity: 1 ;
        }
        .font17 a {
        text-decoration: none;
        color: #000000;
        }
        .font17 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font17 a:visited {
        color: #900060;
        }
      
        .font18 {
        font-size: 36px;
        font-family: "Futura";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font18 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font18 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font18 a:visited {
        color: #900060;
        }
      
        .font19 {
        font-size: 24px;
        font-family: "Futura";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font19 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font19 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font19 a:visited {
        color: #900060;
        }
      
        .font20 {
        font-size: 10px;
        font-family: "AbadiMT";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font20 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font20 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font20 a:visited {
        color: #900060;
        }
      
        .font21 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #CDA0A4 ;
        opacity: 1 ;
        }
        .font21 a {
        text-decoration: none;
        color: #CDA0A4;
        }
        .font21 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font21 a:visited {
        color: #900060;
        }
      
        .font22 {
        font-size: 14px;
        font-family: "Futura";
        color: #CDA0A4 ;
        opacity: 1 ;
        }
        .font22 a {
        text-decoration: none;
        color: #CDA0A4;
        }
        .font22 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font22 a:visited {
        color: #900060;
        }
      
        .font23 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #CDA0A4 ;
        opacity: 1 ;
        }
        .font23 a {
        text-decoration: none;
        color: #CDA0A4;
        }
        .font23 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font23 a:visited {
        color: #900060;
        }
      
        .font24 {
        font-size: 17.1px;
        font-family: "Nooa";
        color: #575656 ;
        opacity: 1 ;
        }
        .font24 a {
        text-decoration: none;
        color: #575656;
        }
        .font24 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font24 a:visited {
        color: #900060;
        }
      
        .font25 {
        font-size: 11px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font25 a {
        text-decoration: none;
        color: #000000;
        }
        .font25 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font25 a:visited {
        color: #900060;
        }
      
        .font26 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font26 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font26 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font26 a:visited {
        color: #900060;
        }
      
        .font27 {
        font-size: 20px;
        font-family: "HijrnotesPERSONALUSEONLY";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font27 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font27 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font27 a:visited {
        color: #900060;
        }
      
        .font28 {
        font-size: 9px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font28 a {
        text-decoration: none;
        color: #000000;
        }
        .font28 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font28 a:visited {
        color: #900060;
        }
      
        .font29 {
        font-size: 10px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font29 a {
        text-decoration: none;
        color: #000000;
        }
        .font29 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font29 a:visited {
        color: #900060;
        }
      
        .font30 {
        font-size: 15px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font30 a {
        text-decoration: none;
        color: #000000;
        }
        .font30 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font30 a:visited {
        color: #900060;
        }
      
        .font31 {
        font-size: 17px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font31 a {
        text-decoration: none;
        color: #000000;
        }
        .font31 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font31 a:visited {
        color: #900060;
        }
      
        .font32 {
        font-size: 7px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font32 a {
        text-decoration: none;
        color: #000000;
        }
        .font32 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font32 a:visited {
        color: #900060;
        }
      
        .font33 {
        font-size: 12px;
        font-family: "Futura";
        color: #009EE3 ;
        opacity: 1 ;
        }
        .font33 a {
        text-decoration: none;
        color: #009EE3;
        }
        .font33 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font33 a:visited {
        color: #900060;
        }
      
        .font34 {
        font-size: 20.4px;
        font-family: "BMHand";
        color: #000000 ;
        opacity: 1 ;
        }
        .font34 a {
        text-decoration: none;
        color: #000000;
        }
        .font34 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font34 a:visited {
        color: #900060;
        }
      
        .font35 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #00AAA6 ;
        opacity: 1 ;
        }
        .font35 a {
        text-decoration: none;
        color: #00AAA6;
        }
        .font35 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font35 a:visited {
        color: #900060;
        }
      
        .font36 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #00AAA6 ;
        opacity: 1 ;
        }
        .font36 a {
        text-decoration: none;
        color: #00AAA6;
        }
        .font36 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font36 a:visited {
        color: #900060;
        }
      
        .font37 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #00AAA6 ;
        opacity: 1 ;
        }
        .font37 a {
        text-decoration: none;
        color: #00AAA6;
        }
        .font37 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font37 a:visited {
        color: #900060;
        }
      
        .font38 {
        font-size: 9px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font38 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font38 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font38 a:visited {
        color: #900060;
        }
      
        .font39 {
        font-size: 19px;
        font-family: "HammerThin";
        color: #000000 ;
        opacity: 1 ;
        }
        .font39 a {
        text-decoration: none;
        color: #000000;
        }
        .font39 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font39 a:visited {
        color: #900060;
        }
      
        .font40 {
        font-size: 19px;
        font-family: "HammerThin";
        color: #F3D382 ;
        opacity: 1 ;
        }
        .font40 a {
        text-decoration: none;
        color: #F3D382;
        }
        .font40 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font40 a:visited {
        color: #900060;
        }
      
        .font41 {
        font-size: 19px;
        font-family: "HammerThin";
        color: #EBBAA7 ;
        opacity: 1 ;
        }
        .font41 a {
        text-decoration: none;
        color: #EBBAA7;
        }
        .font41 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font41 a:visited {
        color: #900060;
        }
      
        .font42 {
        font-size: 19px;
        font-family: "HammerThin";
        color: #F3D19E ;
        opacity: 1 ;
        }
        .font42 a {
        text-decoration: none;
        color: #F3D19E;
        }
        .font42 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font42 a:visited {
        color: #900060;
        }
      
        .font43 {
        font-size: 19px;
        font-family: "HammerThin";
        color: #D75C72 ;
        opacity: 1 ;
        }
        .font43 a {
        text-decoration: none;
        color: #D75C72;
        }
        .font43 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font43 a:visited {
        color: #900060;
        }
      
        .font44 {
        font-size: 12.0px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font44 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font44 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font44 a:visited {
        color: #900060;
        }
      
        .font45 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #F7C65B ;
        opacity: 1 ;
        }
        .font45 a {
        text-decoration: none;
        color: #F7C65B;
        }
        .font45 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font45 a:visited {
        color: #900060;
        }
      
        .font46 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #F7C65B ;
        opacity: 1 ;
        }
        .font46 a {
        text-decoration: none;
        color: #F7C65B;
        }
        .font46 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font46 a:visited {
        color: #900060;
        }
      
        .font47 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #F7C65B ;
        opacity: 1 ;
        }
        .font47 a {
        text-decoration: none;
        color: #F7C65B;
        }
        .font47 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font47 a:visited {
        color: #900060;
        }
      
        .font48 {
        font-size: 15px;
        font-family: "Giorgio";
        color: #000000 ;
        opacity: 1 ;
        }
        .font48 a {
        text-decoration: none;
        color: #000000;
        }
        .font48 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font48 a:visited {
        color: #900060;
        }
      
        .font49 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #9BBAAD ;
        opacity: 1 ;
        }
        .font49 a {
        text-decoration: none;
        color: #9BBAAD;
        }
        .font49 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font49 a:visited {
        color: #900060;
        }
      
        .font50 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #9BBAAD ;
        opacity: 1 ;
        }
        .font50 a {
        text-decoration: none;
        color: #9BBAAD;
        }
        .font50 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font50 a:visited {
        color: #900060;
        }
      
        .font51 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #9BBAAD ;
        opacity: 1 ;
        }
        .font51 a {
        text-decoration: none;
        color: #9BBAAD;
        }
        .font51 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font51 a:visited {
        color: #900060;
        }
      
        .font52 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #9BB7D4 ;
        opacity: 1 ;
        }
        .font52 a {
        text-decoration: none;
        color: #9BB7D4;
        }
        .font52 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font52 a:visited {
        color: #900060;
        }
      
        .font53 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #9BB7D4 ;
        opacity: 1 ;
        }
        .font53 a {
        text-decoration: none;
        color: #9BB7D4;
        }
        .font53 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font53 a:visited {
        color: #900060;
        }
      
        .font54 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #9BB7D4 ;
        opacity: 1 ;
        }
        .font54 a {
        text-decoration: none;
        color: #9BB7D4;
        }
        .font54 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font54 a:visited {
        color: #900060;
        }
      
        .font55 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #DBA3AA ;
        opacity: 1 ;
        }
        .font55 a {
        text-decoration: none;
        color: #DBA3AA;
        }
        .font55 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font55 a:visited {
        color: #900060;
        }
      
        .font56 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #DBA3AA ;
        opacity: 1 ;
        }
        .font56 a {
        text-decoration: none;
        color: #DBA3AA;
        }
        .font56 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font56 a:visited {
        color: #900060;
        }
      
        .font57 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #DBA3AA ;
        opacity: 1 ;
        }
        .font57 a {
        text-decoration: none;
        color: #DBA3AA;
        }
        .font57 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font57 a:visited {
        color: #900060;
        }
      
        .font58 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #000000 ;
        opacity: 1 ;
        }
        .font58 a {
        text-decoration: none;
        color: #000000;
        }
        .font58 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font58 a:visited {
        color: #900060;
        }
      
        .font59 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #000000 ;
        opacity: 1 ;
        }
        .font59 a {
        text-decoration: none;
        color: #000000;
        }
        .font59 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font59 a:visited {
        color: #900060;
        }
      
        .font60 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #000000 ;
        opacity: 1 ;
        }
        .font60 a {
        text-decoration: none;
        color: #000000;
        }
        .font60 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font60 a:visited {
        color: #900060;
        }
      
        .font61 {
        font-size: 15px;
        font-family: "WalkwayBold";
        color: #000000 ;
        opacity: 1 ;
        }
        .font61 a {
        text-decoration: none;
        color: #000000;
        }
        .font61 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font61 a:visited {
        color: #900060;
        }
      
        .font62 {
        font-size: 20px;
        font-family: "SkyMarshalBoldItalic";
        color: #000000 ;
        opacity: 1 ;
        }
        .font62 a {
        text-decoration: none;
        color: #000000;
        }
        .font62 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font62 a:visited {
        color: #900060;
        }
      
        .font63 {
        font-size: 13px;
        font-family: "Futura";
        color: #2F76A3 ;
        opacity: 1 ;
        }
        .font63 a {
        text-decoration: none;
        color: #2F76A3;
        }
        .font63 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font63 a:visited {
        color: #900060;
        }
      
        .font64 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #2F76A3 ;
        opacity: 1 ;
        }
        .font64 a {
        text-decoration: none;
        color: #2F76A3;
        }
        .font64 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font64 a:visited {
        color: #900060;
        }
      
        .font65 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #2F76A3 ;
        opacity: 1 ;
        }
        .font65 a {
        text-decoration: none;
        color: #2F76A3;
        }
        .font65 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font65 a:visited {
        color: #900060;
        }
      
        .font66 {
        font-size: 13.3px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font66 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font66 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font66 a:visited {
        color: #900060;
        }
      
        .font67 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #8F87A2 ;
        opacity: 1 ;
        }
        .font67 a {
        text-decoration: none;
        color: #8F87A2;
        }
        .font67 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font67 a:visited {
        color: #900060;
        }
      
        .font68 {
        font-size: 14px;
        font-family: "Futura";
        color: #8F87A2 ;
        opacity: 1 ;
        }
        .font68 a {
        text-decoration: none;
        color: #8F87A2;
        }
        .font68 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font68 a:visited {
        color: #900060;
        }
      
        .font69 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #8F87A2 ;
        opacity: 1 ;
        }
        .font69 a {
        text-decoration: none;
        color: #8F87A2;
        }
        .font69 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font69 a:visited {
        color: #900060;
        }
      
        .font70 {
        font-size: 17px;
        font-family: "TimesSansSerif";
        color: #8F87A2 ;
        opacity: 1 ;
        }
        .font70 a {
        text-decoration: none;
        color: #8F87A2;
        }
        .font70 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font70 a:visited {
        color: #900060;
        }
      
        .font71 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #8F87A2 ;
        opacity: 1 ;
        }
        .font71 a {
        text-decoration: none;
        color: #8F87A2;
        }
        .font71 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font71 a:visited {
        color: #900060;
        }
      
        .font72 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #93B6BA ;
        opacity: 1 ;
        }
        .font72 a {
        text-decoration: none;
        color: #93B6BA;
        }
        .font72 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font72 a:visited {
        color: #900060;
        }
      
        .font73 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #93B6BA ;
        opacity: 1 ;
        }
        .font73 a {
        text-decoration: none;
        color: #93B6BA;
        }
        .font73 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font73 a:visited {
        color: #900060;
        }
      
        .font74 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #93B6BA ;
        opacity: 1 ;
        }
        .font74 a {
        text-decoration: none;
        color: #93B6BA;
        }
        .font74 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font74 a:visited {
        color: #900060;
        }
      
        .font75 {
        font-size: 10px;
        font-family: "AbadiMT";
        color: #93B6BA ;
        opacity: 1 ;
        }
        .font75 a {
        text-decoration: none;
        color: #93B6BA;
        }
        .font75 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font75 a:visited {
        color: #900060;
        }
      
        .font76 {
        font-size: 7px;
        font-family: "AbadiMT";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font76 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font76 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font76 a:visited {
        color: #900060;
        }
      
        .font77 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #93B6BA ;
        opacity: 1 ;
        }
        .font77 a {
        text-decoration: none;
        color: #93B6BA;
        }
        .font77 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font77 a:visited {
        color: #900060;
        }
      
        .font78 {
        font-size: 14px;
        font-family: "Futura";
        color: #93B6BA ;
        opacity: 1 ;
        }
        .font78 a {
        text-decoration: none;
        color: #93B6BA;
        }
        .font78 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font78 a:visited {
        color: #900060;
        }
      
        .font79 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #93B6BA ;
        opacity: 1 ;
        }
        .font79 a {
        text-decoration: none;
        color: #93B6BA;
        }
        .font79 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font79 a:visited {
        color: #900060;
        }
      
        .font80 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #988174 ;
        opacity: 1 ;
        }
        .font80 a {
        text-decoration: none;
        color: #988174;
        }
        .font80 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font80 a:visited {
        color: #900060;
        }
      
        .font81 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #988174 ;
        opacity: 1 ;
        }
        .font81 a {
        text-decoration: none;
        color: #988174;
        }
        .font81 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font81 a:visited {
        color: #900060;
        }
      
        .font82 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #988174 ;
        opacity: 1 ;
        }
        .font82 a {
        text-decoration: none;
        color: #988174;
        }
        .font82 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font82 a:visited {
        color: #900060;
        }
      
        .font83 {
        font-size: 12px;
        font-family: "TimesSansSerif";
        color: #988174 ;
        opacity: 1 ;
        }
        .font83 a {
        text-decoration: none;
        color: #988174;
        }
        .font83 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font83 a:visited {
        color: #900060;
        }
      
        .font84 {
        font-size: 10px;
        font-family: "AbadiMT";
        color: #988174 ;
        opacity: 1 ;
        }
        .font84 a {
        text-decoration: none;
        color: #988174;
        }
        .font84 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font84 a:visited {
        color: #900060;
        }
      
        .font85 {
        font-size: 5.8px;
        font-family: "AbadiMT";
        color: #000000 ;
        opacity: 1 ;
        }
        .font85 a {
        text-decoration: none;
        color: #000000;
        }
        .font85 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font85 a:visited {
        color: #900060;
        }
      
        .font86 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #988174 ;
        opacity: 1 ;
        }
        .font86 a {
        text-decoration: none;
        color: #988174;
        }
        .font86 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font86 a:visited {
        color: #900060;
        }
      
        .font87 {
        font-size: 14px;
        font-family: "Futura";
        color: #988174 ;
        opacity: 1 ;
        }
        .font87 a {
        text-decoration: none;
        color: #988174;
        }
        .font87 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font87 a:visited {
        color: #900060;
        }
      
        .font88 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #988174 ;
        opacity: 1 ;
        }
        .font88 a {
        text-decoration: none;
        color: #988174;
        }
        .font88 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font88 a:visited {
        color: #900060;
        }
      
        .font89 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #8A838D ;
        opacity: 1 ;
        }
        .font89 a {
        text-decoration: none;
        color: #8A838D;
        }
        .font89 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font89 a:visited {
        color: #900060;
        }
      
        .font90 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #8A838D ;
        opacity: 1 ;
        }
        .font90 a {
        text-decoration: none;
        color: #8A838D;
        }
        .font90 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font90 a:visited {
        color: #900060;
        }
      
        .font91 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #000000 ;
        opacity: 1 ;
        }
        .font91 a {
        text-decoration: none;
        color: #000000;
        }
        .font91 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font91 a:visited {
        color: #900060;
        }
      
        .font92 {
        font-size: 14px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font92 a {
        text-decoration: none;
        color: #000000;
        }
        .font92 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font92 a:visited {
        color: #900060;
        }
      
        .font93 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #000000 ;
        opacity: 1 ;
        }
        .font93 a {
        text-decoration: none;
        color: #000000;
        }
        .font93 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font93 a:visited {
        color: #900060;
        }
      
        .font94 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #DD5F14 ;
        opacity: 1 ;
        }
        .font94 a {
        text-decoration: none;
        color: #DD5F14;
        }
        .font94 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font94 a:visited {
        color: #900060;
        }
      
        .font95 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #DD5F14 ;
        opacity: 1 ;
        }
        .font95 a {
        text-decoration: none;
        color: #DD5F14;
        }
        .font95 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font95 a:visited {
        color: #900060;
        }
      
        .font96 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #DD5F14 ;
        opacity: 1 ;
        }
        .font96 a {
        text-decoration: none;
        color: #DD5F14;
        }
        .font96 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font96 a:visited {
        color: #900060;
        }
      
        .font97 {
        font-size: 13px;
        font-family: "Futura";
        color: #DD5F14 ;
        opacity: 1 ;
        }
        .font97 a {
        text-decoration: none;
        color: #DD5F14;
        }
        .font97 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font97 a:visited {
        color: #900060;
        }
      
        .font98 {
        font-size: 36px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font98 a {
        text-decoration: none;
        color: #000000;
        }
        .font98 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font98 a:visited {
        color: #900060;
        }
      
        .font99 {
        font-size: 24px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font99 a {
        text-decoration: none;
        color: #000000;
        }
        .font99 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font99 a:visited {
        color: #900060;
        }
      
        .font100 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #DD5F14 ;
        opacity: 1 ;
        }
        .font100 a {
        text-decoration: none;
        color: #DD5F14;
        }
        .font100 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font100 a:visited {
        color: #900060;
        }
      
        .font101 {
        font-size: 14px;
        font-family: "Futura";
        color: #DD5F14 ;
        opacity: 1 ;
        }
        .font101 a {
        text-decoration: none;
        color: #DD5F14;
        }
        .font101 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font101 a:visited {
        color: #900060;
        }
      
        .font102 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #DD5F14 ;
        opacity: 1 ;
        }
        .font102 a {
        text-decoration: none;
        color: #DD5F14;
        }
        .font102 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font102 a:visited {
        color: #900060;
        }
      
        .font103 {
        font-size: 13px;
        font-family: "TimesSansSerif";
        color: #000000 ;
        opacity: 1 ;
        }
        .font103 a {
        text-decoration: none;
        color: #000000;
        }
        .font103 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font103 a:visited {
        color: #900060;
        }
      
        .font104 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #8F87A2 ;
        opacity: 1 ;
        }
        .font104 a {
        text-decoration: none;
        color: #8F87A2;
        }
        .font104 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font104 a:visited {
        color: #900060;
        }
      
        .font105 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #8F87A2 ;
        opacity: 1 ;
        }
        .font105 a {
        text-decoration: none;
        color: #8F87A2;
        }
        .font105 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font105 a:visited {
        color: #900060;
        }
      
        .font106 {
        font-size: 14px;
        font-family: "Times";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font106 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font106 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font106 a:visited {
        color: #900060;
        }
      
        .font107 {
        font-size: 11px;
        font-family: "AbadiMT";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font107 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font107 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font107 a:visited {
        color: #900060;
        }
      
        .font108 {
        font-size: 32px;
        font-family: "BMHand";
        color: #000000 ;
        opacity: 1 ;
        }
        .font108 a {
        text-decoration: none;
        color: #000000;
        }
        .font108 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font108 a:visited {
        color: #900060;
        }
      
        .font109 {
        font-size: 10px;
        font-family: "Futura";
        color: #878786 ;
        opacity: 1 ;
        }
        .font109 a {
        text-decoration: none;
        color: #878786;
        }
        .font109 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font109 a:visited {
        color: #900060;
        }
      
        .font110 {
        font-size: 24px;
        font-family: "BMHand";
        color: #AA144C ;
        opacity: 1 ;
        }
        .font110 a {
        text-decoration: none;
        color: #AA144C;
        }
        .font110 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font110 a:visited {
        color: #900060;
        }
      
        .font111 {
        font-size: 60px;
        font-family: "BMHand";
        color: #AA144C ;
        opacity: 1 ;
        }
        .font111 a {
        text-decoration: none;
        color: #AA144C;
        }
        .font111 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font111 a:visited {
        color: #900060;
        }
      
        .font112 {
        font-size: 14.0px;
        font-family: "BMHand";
        color: #AA144C ;
        opacity: 1 ;
        }
        .font112 a {
        text-decoration: none;
        color: #AA144C;
        }
        .font112 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font112 a:visited {
        color: #900060;
        }
      
        .font113 {
        font-size: 24px;
        font-family: "BMHand";
        color: #A86C29 ;
        opacity: 1 ;
        }
        .font113 a {
        text-decoration: none;
        color: #A86C29;
        }
        .font113 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font113 a:visited {
        color: #900060;
        }
      
        .font114 {
        font-size: 60px;
        font-family: "BMHand";
        color: #A86C29 ;
        opacity: 1 ;
        }
        .font114 a {
        text-decoration: none;
        color: #A86C29;
        }
        .font114 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font114 a:visited {
        color: #900060;
        }
      
        .font115 {
        font-size: 14.0px;
        font-family: "BMHand";
        color: #A86C29 ;
        opacity: 1 ;
        }
        .font115 a {
        text-decoration: none;
        color: #A86C29;
        }
        .font115 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font115 a:visited {
        color: #900060;
        }
      
        .font116 {
        font-size: 8px;
        font-family: "Futura";
        color: #000000 ;
        opacity: 1 ;
        }
        .font116 a {
        text-decoration: none;
        color: #000000;
        }
        .font116 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font116 a:visited {
        color: #900060;
        }
      
        .font117 {
        font-size: 31.5px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font117 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font117 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font117 a:visited {
        color: #900060;
        }
      
        .font118 {
        font-size: 19.4px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font118 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font118 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font118 a:visited {
        color: #900060;
        }
      
        .font119 {
        font-size: 13.2px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font119 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font119 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font119 a:visited {
        color: #900060;
        }
      
        .font120 {
        font-size: 13px;
        font-family: "WalkwayBold";
        color: #2F76A3 ;
        opacity: 1 ;
        }
        .font120 a {
        text-decoration: none;
        color: #2F76A3;
        }
        .font120 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font120 a:visited {
        color: #900060;
        }
      
        .font121 {
        font-size: 18px;
        font-family: "SkyMarshalBoldItalic";
        color: #2F76A3 ;
        opacity: 1 ;
        }
        .font121 a {
        text-decoration: none;
        color: #2F76A3;
        }
        .font121 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font121 a:visited {
        color: #900060;
        }
      
        .font122 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #2F76A3 ;
        opacity: 1 ;
        }
        .font122 a {
        text-decoration: none;
        color: #2F76A3;
        }
        .font122 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font122 a:visited {
        color: #900060;
        }
      
        .font123 {
        font-size: 14px;
        font-family: "Futura";
        color: #2F76A3 ;
        opacity: 1 ;
        }
        .font123 a {
        text-decoration: none;
        color: #2F76A3;
        }
        .font123 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font123 a:visited {
        color: #900060;
        }
      
        .font124 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #BEBDBD ;
        opacity: 1 ;
        }
        .font124 a {
        text-decoration: none;
        color: #BEBDBD;
        }
        .font124 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font124 a:visited {
        color: #900060;
        }
      
        .font125 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #BEBDBD ;
        opacity: 1 ;
        }
        .font125 a {
        text-decoration: none;
        color: #BEBDBD;
        }
        .font125 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font125 a:visited {
        color: #900060;
        }
      
        .font126 {
        font-size: 10.3px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font126 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font126 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font126 a:visited {
        color: #900060;
        }
      
        .font127 {
        font-size: 15.5px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font127 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font127 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font127 a:visited {
        color: #900060;
        }
      
        .font128 {
        font-size: 18.1px;
        font-family: "Futura";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font128 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font128 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font128 a:visited {
        color: #900060;
        }
      
        .font129 {
        font-size: 9px;
        font-family: "AbadiMT";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font129 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font129 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font129 a:visited {
        color: #900060;
        }
      
        .font130 {
        font-size: 10px;
        font-family: "AbadiMT";
        color: #BEBDBD ;
        opacity: 1 ;
        }
        .font130 a {
        text-decoration: none;
        color: #BEBDBD;
        }
        .font130 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font130 a:visited {
        color: #900060;
        }
      
        .font131 {
        font-size: 14px;
        font-family: "TimesNewRomanPS";
        color: #878786 ;
        opacity: 1 ;
        }
        .font131 a {
        text-decoration: none;
        color: #878786;
        }
        .font131 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font131 a:visited {
        color: #900060;
        }
      
        .font132 {
        font-size: 14px;
        font-family: "Futura";
        color: #878786 ;
        opacity: 1 ;
        }
        .font132 a {
        text-decoration: none;
        color: #878786;
        }
        .font132 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font132 a:visited {
        color: #900060;
        }
      
        .font133 {
        font-size: 16px;
        font-family: "TimesSansSerif";
        color: #878786 ;
        opacity: 1 ;
        }
        .font133 a {
        text-decoration: none;
        color: #878786;
        }
        .font133 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font133 a:visited {
        color: #900060;
        }
      
        .font134 {
        font-size: 9.5px;
        font-family: "TimesSansSerif";
        color: #4A4948 ;
        opacity: 1 ;
        }
        .font134 a {
        text-decoration: none;
        color: #4A4948;
        }
        .font134 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font134 a:visited {
        color: #900060;
        }
      
        .font135 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #FBCA8B ;
        opacity: 1 ;
        }
        .font135 a {
        text-decoration: none;
        color: #FBCA8B;
        }
        .font135 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font135 a:visited {
        color: #900060;
        }
      
        .font136 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #FBCA8B ;
        opacity: 1 ;
        }
        .font136 a {
        text-decoration: none;
        color: #FBCA8B;
        }
        .font136 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font136 a:visited {
        color: #900060;
        }
      
        .font137 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #FBCA8B ;
        opacity: 1 ;
        }
        .font137 a {
        text-decoration: none;
        color: #FBCA8B;
        }
        .font137 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font137 a:visited {
        color: #900060;
        }
      
        .font138 {
        font-size: 10px;
        font-family: "AbadiMT";
        color: #FBCA8B ;
        opacity: 1 ;
        }
        .font138 a {
        text-decoration: none;
        color: #FBCA8B;
        }
        .font138 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font138 a:visited {
        color: #900060;
        }
      
        .font139 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #FCE6A5 ;
        opacity: 1 ;
        }
        .font139 a {
        text-decoration: none;
        color: #FCE6A5;
        }
        .font139 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font139 a:visited {
        color: #900060;
        }
      
        .font140 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #F0D791 ;
        opacity: 1 ;
        }
        .font140 a {
        text-decoration: none;
        color: #F0D791;
        }
        .font140 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font140 a:visited {
        color: #900060;
        }
      
        .font141 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #F0D791 ;
        opacity: 1 ;
        }
        .font141 a {
        text-decoration: none;
        color: #F0D791;
        }
        .font141 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font141 a:visited {
        color: #900060;
        }
      
        .font142 {
        font-size: 11px;
        font-family: "TimesSansSerif";
        color: #F5B6CC ;
        opacity: 1 ;
        }
        .font142 a {
        text-decoration: none;
        color: #F5B6CC;
        }
        .font142 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font142 a:visited {
        color: #900060;
        }
      
        .font143 {
        font-size: 10px;
        font-family: "ZapfDingbatsITC";
        color: #F5B6CC ;
        opacity: 1 ;
        }
        .font143 a {
        text-decoration: none;
        color: #F5B6CC;
        }
        .font143 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font143 a:visited {
        color: #900060;
        }
      
        .font144 {
        font-size: 10px;
        font-family: "TimesSansSerif";
        color: #F5B6CC ;
        opacity: 1 ;
        }
        .font144 a {
        text-decoration: none;
        color: #F5B6CC;
        }
        .font144 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font144 a:visited {
        color: #900060;
        }
      