<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

<!-- End Content -->
</td>
</tr>
<tr>
    <td>
        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
            <span style="color:red;font-size:15px;font-weight:bold;">1 - Une question sur la composition ou l'utilisation d'un de vos produits ?</span>
            <br>
            Nous vous invitons à consulter les fiches produits sur notre site internet, à suivre notre blog et les nouveauté sur <a href="https://www.facebook.com/Lexel.Paris">Facebook</a> et <a href="https://www.instagram.com/lexel.paris">Instragram</a>
        </p>
        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
            <span style="color:red;font-size:15px;font-weight:bold;">2 - Une question sur votre commande ?</span>
            <br>
            Notre Service client est à votre écoute du lundi au vendredi de 9h30 à 17h30 au :<br> <span style="font-size:20px;">04 99 13 36 24*</span> ou par email : <a href="mailto:serviceclient@club-alliance.fr">serviceclient@club-alliance.fr</a><br>
            <span style="font-size:8px;">*Prix d'un appel local</span>
        </p>
        <p style="font-size:12px; line-height:16px;margin:0 0 16px 0;">
            <span style="color:red;font-size:15px;font-weight:bold;">3 - Une question sur votre paiement ?</span>
            <br>
            Notre service recouvrement est à votre disposition : <a href="mailto:recouvrement@lexel-paris.com">recouvrement@lexel-paris.com</a>
        </p>
    </td>
</tr>
<tr>
    <td class="footer">
        <p class="closing">{{trans "Thank you, %store_name" store_name=$store.getFrontendName()}}!</p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
