<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Ntic_PortfolioCustomer::manage"
			 title="Portfolio"
			 module="Magento_Backend"
			 sortOrder="40"
			 parent="Magento_Customer::customer"
			 resource="Ntic_PortfolioCustomer::manage" />
		<add action="ntic_portfoliocustomer/portfoliocustomer/manager"
			 id="Ntic::ntic_portfolio_customer2"
			 module="Ntic_PortfolioCustomer"
			 parent="Ntic_PortfolioCustomer::manage"
			 resource="Magento_Backend::content"
			 sortOrder="45"
			 title="Manager"/>
	</menu>
</config>
