<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="conges" id="conges">
			<module before="Magento_Backend" name="Ntic_Conges"/>
		</route>
		<route frontName="ntic_conges" id="ntic_conges">
			<module before="Magento_Backend" name="Ntic_Conges"/>
		</route>
	</router>
</config>
