<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

<!-- End Content -->
</td>
</tr>
<tr>
    <td><p style="font-family:verdana; font-size:10px; width:650px; text-align:left;">
        <strong>Une question ? N’hésitez pas !</strong>
        Notre <strong>Service Clients</strong> est disponible du lundi au vendredi, de 9h à 13h et de 14h à 17h, au 04 99 13 64 94 (0,12 € TTC/minute depuis un poste fixe, prix d’un appel local hors surcoût éventuel selon l'opérateur) ou par mail à serviceclients@time-nutrition.com
        <br><br></p>
    </td>
</tr>
<tr>
    <td bgcolor="#e7e5df" align="left" style="padding:5px 15px 15px 15px;">
        <a style="text-decoration:none;" href="http://time-nutrition.com" title="time-nutrition.com" target="_blank">
				   <span style="font-family:verdana; font-size:10px; color:#020202;">
                       Merci de ne pas répondre directement à cet email. Veuillez utiliser pour cela le formulaire de contact.
                       Pour toujours recevoir les emails du Service Clients TIME Nutrition, n'oubliez pas d'ajouter l'adresse
                       serviceclients@time-nutrition.com à votre carnet d'adresses.
				        Conformément à la Loi Informatique et Libertés du 06/01/1978, vous disposez d’un droit d’accès, de rectification
                       et de suppression des données vous concernant et d’opposition à leur traitement. Si vous souhaitez l’exercer,
                       vous pouvez écrire TIME Nutrition - Service Administratif - 49 RUE PONTHIEU - LOT.41 -  75 008 PARIS - FRANCE,
                       en indiquant vos nom, prénom, adresse, email et si possible référence client afin d’accélérer la prise en compte
                       de votre demande. A ces mêmes coordonnées, vous pouvez vous opposer sans frais à la prospection commerciale.
                       Vous pouvez à tout moment avoir accès et changer les informations concernant vos coordonnées
                       (adresses e-mail et courrier, changement de patronyme...) et gérer vos abonnements dans la rubrique dans la rubrique "Mon compte".
				        Pour connaître notre politique de protection de vos données personnelles, connectez-vous sur le site TIME Nutrition,
                       rubrique « Conditions Générales d’Utilisation » en bas de page.
                   </span>
        </a>
    </td>
</tr>
<tr>
    <td class="footer">
        <p class="closing">{{trans "Thank you, %store_name" store_name=$store.getFrontendName()}}!</p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
