<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="timescan" id="timescan">
            <module name="Ntic_Timescan"/>
        </route>
        <route frontName="result_timescan" id="result_timescan">
            <module name="Ntic_Timescan"/>
        </route>
    </router>
</config>